 {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   
 }
 

 p
 {
	 font-family: Times New Roman;
	 text-align:center;
	 font-size:50px;
	 font-weight:bold;
	 padding-bottom:2px;
	  background: -webkit-radial-gradient(rgba(254,64,72,1), rgba(188,21,29,1));
	  background: -moz-radial-gradient(rgba(254,64,72,1), rgba(188,21,29,1));
      background: radial-gradient(rgba(254,64,72,1), rgba(188,21,29,1));
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
 }
 h1
 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align:center;
	font-size:18px;
	margin:1px;
	padding-bottom:5px;
	border-bottom: 1px solid black;
	background: -webkit-radial-gradient(rgba(254,64,72,1), rgba(188,21,29,1));
	background: -moz-radial-gradient(rgba(254,64,72,1), rgba(188,21,29,1));
    background: radial-gradient(rgba(254,64,72,1), rgba(188,21,29,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	

 }
 h2
 {
	 font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	 background: -webkit-linear-gradient(to right, #CF0202 0%, #000500 50%, #CF0202 100%);
     background: -moz-linear-gradient(to right, #CF0202 0%, #000500 50%, #CF0202 100%);
     background: linear-gradient(to right, #CF0202 0%, #000500 50%, #CF0202 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
	 text-align:center;
	 font-size:14px;
	 margin:7px;
 }
 img
 {
	 width:200px;
	 height:300px;
	 padding:15px;
	 align-items: center;

 }
 body
 {
	  background-color:black;
	  background-image: url(met.png), url(netflix.jpg);
      background-position: top left, center;
      background-repeat: no-repeat, repeat;
	  background-size:150px 150px,auto;
	  justify-content: center;
	  display: flex;
	  flex-direction: column;
    
	  
	
 }
 .main
 {
	  display: flex;
	  flex-direction: rows;
      justify-content: center;
      align-items: center;
	  min-height: 100vh;
	  margin:50px;
 }
 
 .block
{
	position: relative;
    width: 350px;
	height:550px;
    max-width: 400px;
	max-height: 600px;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3));
	backdrop-filter: blur(1.5px);
	margin:50px;
	box-shadow: 0 35px 55px rgba(0,0,0,0.1);
	display:flex;
	flex-direction: column;
	align-items:center;
	border-radius:30px;
	

}
.form {
	display:flex;
	flex-direction: column;
	align-items:center;
}
form
{
	
background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3));
	backdrop-filter: blur(1.5px);
	box-shadow: 0 35px 55px rgba(0,0,0,0.1);
width: 400px;
height:250px;
margin:50px;
padding:50px;
display: flex;
flex-direction: column;
color:black;
font-family: Times New Roman;
font-size:24px;
font-weight:bold;
border-radius:20px;

}

input[type=submit] {
    padding:5px 15px; 
    background:lightblue; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
	width:100%;
	height:50px;;
}
input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
}
textarea{
     padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


	

	 
